@import url("https://fonts.googleapis.com/css2?family=Bentham&display=swap&family=Berkshire+Swash&family=Croissant+One&family=Grandstander:wght@600&family=Jacques+Francois+Shadow&family=Margarine&family=Ribeye+Marrow&display=swap");

.App {
	display: flex;
	flex-flow: column;
} 

.App-header {
	background-color: #8d9db6;
	min-height: 150px;
	display: flex;
	flex-direction: row wrap;
	width: 100%; 
	height: 100px;
	align-items: center;
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: #bccad6;
}

#bookStoreimg {
	width: 100px;
	height: 100px;
}

.App-title {
	display: flex;
	height: 90px;
	justify-content: center;
	align-items: center;
	font-family: "Croissant One";
	font-size: 30px;
	font-weight: bold;
}

.App-account {
	display: flex;
	height: 90px;
	color: white;
	font-size: 18px;
	font-family: "Croissant One";
	font-weight: bold;
	color: #bccad6;
	position: absolute;
	top: 10px;
	right: 10px;
}

.account-item {
	margin: 10px;
	font-family: "Croissant One";
	color: #bccad6;
}
/* #menuIcons {
	display: flex;
	width: 20%;
	height: 200px;
	align-items: center;
} */
#homePage {
	display: flex;
	font-size: 20px;
}
.iconHomePage {
	display: flex;
	align-content: center;
	position: relative;
	top: -8px;
	left: 10px;
	height: 40px;
	width: 55px;
	border-radius: 70px/70px;
	border-style: unset;
}


.App-subheader {
	background-color: #333;
	overflow: hidden;
	display: flex;
	flex-direction: row;
  }
  
  .App-subheader a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	font-family: "Croissant One";
  }
  
  .App-subheader a:hover {
	background-color: #ddd;
	color: black;
  }

.searchingBooks {
	display: flex;
	flex-direction: row;
}

.subheader-item {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	font-family: "Croissant One";
}

.inputField {
	width: 500px;
	height: 30px;
	font-family: "Croissant One";
	font-size: 20px;
	margin: 6px;
} 

.button {
	display: flex;
	width: 60px;
	height: 20px;
}

#searchImage {
	padding: 10px;
}

.mainHomePage {
	display: flex;
	height: 400px;
}
.asideHomePage {
	display: flex;
	height: 400px;
}
.footer {
	display: flex;
	height: 90px;
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
