@import url("https://fonts.googleapis.com/css2?family=Bentham&display=swap&family=Berkshire+Swash&family=Croissant+One&family=Grandstander:wght@600&family=Jacques+Francois+Shadow&family=Margarine&family=Ribeye+Marrow&display=swap");

.App {
	text-align: center;
	display: flex;
	width: 100%;
	flex-flow: row wrap;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
.App-header {
	background-color: #8d9db6;
	/* #85929e; */
	/* #bfc9ca; */
	min-height: 90px;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100px;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	/* position: fixed; */
	color: #bccad6;
}
#bookStoreimg {
	display: flex;
	flex-flow: row wrap;
	width: 100px;
	height: 100px;
}
.App-title {
	/* border: 8px solid green;*/
	display: flex;
	width: 50%;
	height: 90px;
	justify-content: center;
	align-items: center;
	font-family: "Croissant One";
	font-size: 30px;
}
.App-account {
	/* display: inline-flex; */
	display: flex;
	width: 30%;
	height: 90px;
	color: white;
	font-size: 18px;
	font-family: "Croissant One";
	color: #bccad6;
}
.account-item {
	display: flex;
	width: 25%;
	align-items: center;
	align-content: flex-end;
	position: relative;
	left: 150px;
	justify-content: space-between;
	font-family: "Croissant One";
	color: #bccad6;
}
#menuIcons {
	display: flex;
	width: 20%;
	height: 200px;
	align-items: center;
}
#homePage {
	display: flex;
	font-size: 20px;
}
.iconHomePage {
	display: flex;
	align-content: center;
	position: relative;
	top: -8px;
	left: 10px;
	height: 50px;
	width: 65px;
	border-radius: 70px/70px;
	border-style: unset;
}
.App-subheader {
	background-color: #bccad6;
	/* #bfc9ca; */
	min-height: 50px;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	height: 60px;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: center;
	font-size: 22px;
	/* font-size: calc(15px + 2); */
	color: #8d9db6;
	flex-flow: row wrap;
	font-family: "Croissant One";
}
.subheader-item {
	display: flex;
	width: 300px;
}
.inputField {
	display: flex;
	width: 500px;
	height: 30px;
	font-family: "Croissant One";
	font-size: 20px;
}
.button {
	display: flex;
	width: 60px;
	height: 20px;
}
a {
	text-decoration: none;
	color: #8d9db6;
}
.mainHomePage {
	display: flex;
	width: 90%;
	height: 400px;
}
.asideHomePage {
	display: flex;
	width: 10%;
	height: 400px;
}
.footer {
	display: flex;
	width: 100%;
	height: 90px;
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
