@import url("https://fonts.googleapis.com/css2?family=Bentham&display=swap&family=Berkshire+Swash&family=Croissant+One&family=Grandstander:wght@600&family=Jacques+Francois+Shadow&family=Margarine&family=Ribeye+Marrow&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.book-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 30px;
}

.book-collection {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.fakeAdvertising {
	width: 22%;
	height: 1700px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-between;
}

.books {
	flex: 1 0 33.33%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 320px;
	max-height: 600px;
	margin: 10px;
	text-align: center;
	font-family: arial;
	margin: 0;
	padding: 10px;
}

.book-pagination {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-flow: row nowrap;
	padding: 40px;
	justify-content: center;
	/* align-content: space-between; */
}

.checked {
	color: orange;
}

.book-price {
	font-size: 22px;
}

.books .book-info {
	display: flex;
	flex-flow: column wrap;
	padding: 15px;
}

.book-rating {
	white-space: normal;
}

.books .book-title {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	height: 90px;
}

.books .book-description {
	font-size: 10px;
	text-align: justify;
	padding: 3px;
}

.books .book-id {
	max-width: 200px;
	height: 280px;
}

.books .button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	height: 50px;
}

.button-form {
	position: relative;
	bottom: 0px;
}

.books .button:hover {
	opacity: 0.7;
}
.pagination {
	display: inline-block;
	width: 100%;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color: #f2f2f2;
	color: black;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}
