@import url("https://fonts.googleapis.com/css2?family=Bentham&display=swap&family=Berkshire+Swash&family=Croissant+One&family=Grandstander:wght@100&display=swap&display=swap&family=Raleway:wght@100&family=Jacques+Francois+Shadow&family=Margarine&family=Ribeye+Marrow&display=swap");

.bookDetail {
	display: flex;
	flex: 1 0 33.33%;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
	max-width: 1600px;
	max-height: 1600px;
	margin: auto;
	padding: 30px;
	text-align: flex-start;
	flex-flow: row nowrap;
	font-family: "Bentham";
}
.bookDet-info {
	display: flex;
	flex-flow: column nowrap;
}
#bookImg {
	display: flex;
	width: 250px;
	height: 400px;
	flex: 1 0 33.33%;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
	max-width: 250px;
	max-height: 400px;
	margin: auto;
	align-content: flex-start;
	font-family: arial;
}
.bookDet-Img {
	flex: 1 0 33.33%;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
	max-width: 250px;
	max-height: 400px;
	margin: 15px;
}
.button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	height: 50px;
	font-family: Arial;
}
.bookDet-header {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
	font-size: 20px;
	font-weight: bolder;
	height: 100px;
	background-color: #8d9db6;
}
.bookDet-rating {
	display: inline-flex;
	flex-flow: row wrap;
	width: 100%;
	/* border: 5px solid pink; */
	flex-direction: row;
}
.bookDet-extraInfo {
	display: flex;
	flex-flow: column wrap;
}
.bookDet-summary {
	display: flex;
	font-size: 16px;
	text-align: justify;
	flex-direction: column;
}

h3 {
	font-weight: bold;
}
label {
	font-weight: bold;
}
