@import url("https://fonts.googleapis.com/css2?family=Bentham&display=swap&family=Berkshire+Swash&family=Croissant+One&family=Grandstander:wght@100&display=swap&display=swap&family=Raleway:wght@100&family=Jacques+Francois+Shadow&family=Margarine&family=Ribeye+Marrow&display=swap");

.bookDetail {
	display: flex;
	flex-flow: row wrap;
	width: 70%;
	height: 400px;
}
#bookImg {
	display: flex;
	width: 250px;
	height: 400px;
}
